@charset "UTF-8";
@import "../utilitario.css";
.footer{
    background-color: var(--c012);
}
.footer-container{
    padding: 60px 20px;
    margin: auto;
    max-width: 1200px;
}
.footer-container{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 80px;
    margin-bottom: 80px;
}
img{
    align-self: start;
}
.contato ul + ul{
    border-top: 1px solid var(--c011);
}
.contato-titulo, .informacoes-titulo{
    font: 500 1.5rem/2.25rem 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 24px;
}
footer ul{
    list-style: none;
}
.contato-lista-1, 
.contato-lista-2,
.contato-lista-3,
.informacoes-lista{
    padding: 12px 0px 12px 0px;
}
.contato-lista-3{
    display: flex;
    gap: 32px;
}
.contato-lista-1-item, 
.contato-lista-2-item,
.contato-lista-3-item,
.informacoes-lista-item{
    color: var(--c005);
    font: 500 1.125rem/1.5rem 'Roboto', sans-serif;
}
.contato-lista-1-item, 
.contato-lista-2-item,
.contato-lista-3-item:first-child{
    margin-bottom: 12px;
}
.contato-lista-1-item a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;
}
.contato-lista-3-item a{
    color: inherit;
    transition: 0.2s ease-in-out;
}
.informacoes-lista-item{
    padding: 0px 0px 12px 0px;
}
.informacoes-lista-item a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;
}
.contato-lista-1-item a:hover,
.contato-lista-3-item a:hover,
.informacoes-lista-item a:hover{
    color: var(--c003);
}
.footer-text{
    color: var(--c006);
    font: 500 1.125rem/1.5rem 'Roboto', sans-serif;
    grid-column: 1 / -1;
}
@media (max-width: 800px) {
    .footer img{
        display: none;
    }
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .contato-titulo, .informacoes-titulo{
        font: 400 1rem/1.5rem 'Roboto', sans-serif;
        margin-bottom: 0px;
    }
}